/*

!/.gitignore

!/.clang_complete
!/.syntastic_c_config
!/.syntastic_cpp_config
!/build.rb
!/COPYING

!/src/

!/build/scripts/

!/tests/*/execute.rb
!/tests/*/*.c
!/tests/*/*.out

/src/kernel/obj/
/src/kernel++/obj/

/src/blobs/common/bin/
/src/blobs/arch/*/bin/
/src/blobs/platform/*/bin/

!/src/blobs/common/bin/palirc.rb

/src/lib/*.a
/src/lib/crt/
/src/lib/obj/

/src/progs/obj/
